@page
@model OnThi.Views.NhanVien.LietKeNhanVienTheoSoLanModel
@{
}
<form action="/NhanVien/KQLietKeNhanVienTheoSoLan" method="post">
    <label for="SoLan">Số lần: </label><input type="text" name="soLan" /><br>
    <input type="submit" name="submit" value="Liệt Kê" id="them" />
</form>