@{
    ViewData["Title"] = "Update Thiet Bi";
}
@model NV_BTModel
@{
    <h2>Update Thiet Bi</h2>
    <form action="/NhanVien/UpdateThietBi" method="post">
        <label for="maThietBi">Mã thiết bị</label> <input type="text" name="MaThietBi" value="@Model.maThietBi" /><br>
        <label for="maCanHo">Mã căn hộ</label> <input type="text" name="MaCanHo" value="@Model.maCanHo" /><br>
        <label for="lanThu">Lần sửa</label> <input type="text" name="LanThu" value="@Model.lanThu" /><br>
        <label for="ngaySua">Ngày sửa</label> <input type="date" name="NgaySua" value="@Model.ngayBaoTri" /><br>

        <input type="submit" name="submit" value="Update" />
    </form>
}